@charset "utf-8";
/* 
CSS Document
Author:QRF
 */

body{
	margin:0px;   /* 使用reset，并非全局reset */
	padding:0px;   /* body换成"*"便是全局reset  */
	width:100%
	height:100%;
	}

html{ font-family:Arial, Helvetica, sans-serif;}	
	
#container{
	height:100%;
    width:100%;
	min-height:1500px;
	min-width:1340px;		
   		 }
	 
#left{
	float:left;
	height:100%;
	width:21%;	
	min-height:1500px;
	background:url(../images/bg-ramp.jpg);
	background-repeat:repeat-y;			
	}
#logo{
	height:120px;
	width:165px;	
	margin:10px 45px 6%;
	background-image:url(../images/logo.jpg);		 
   	background-repeat:no-repeat;
	padding:1.75em 0.5em 1.75em 0.5em;
	border-radius:0.4em;
	text-align:center;
	box-shadow:inset 0px 0px 0px 1px rgba(255,255,255,0.15), 0 0.025em 0.15em 0em rgba(0,0,0,0.25);
	}
/*介绍*/	
#introduce{
	height:220px;      /*为什么改变成百分比没有效果，而px还是有效。。。*/
	width:170px;
 	margin-left:45px;
	
	}	

#introduce a{
	 text-decoration:none;
		color:#1C1E26;	
	}	 	

#latest{
	margin-top:30px;
	text-align:center;
	 font-size:18px;	
	 height:20px;
	 width:90%;	
	}

#sort{
	text-align:center;
	 margin-top:30px;
	 font-size:18px;	
	 height:20px;
	 width:90%;
	}

 #about{
	 text-align:center;
	 margin-top:30px;
	 font-size:18px;	
	 height:20px;
	 width:90%;
	 }
#contact{
	 text-align:center;
	 margin-top:30px;
	 margin-bottom:20px;
	 font-size:18px;	
	 height:20px;
	 width:90%;
	}

/*日历*/	
.prevMonth, .nextMonth {
	color: Gray;
}
.calendar td {
	width:25px;
	height:25px;
	text-align: center;
}
.calendar th {
	background-color:#CCCCCC;
	padding:2px 5px;
	font-weight: normal;
}
.calendar td a:visited {
	color: blue;
}
.curDay {
	background:#ccc;
	font-weight:bold;
	color:#000;
}

/*右边内容*/			
#content{
	  position:relative; /**设置定位属性，但是不设置偏移属性，为子元素定位提供基准，如footer子div**/
	  height:100%;
	  min-height:1500px;
	  width:75%;
	  margin:0px;	
	  float:right;
	  background:#F7F7F7;
	 

	 
	}

 /*右侧header部分*/	
#header{
	position:fixed;
	margin-top:0px;
	height:60px;
	width:78%;
   		
	}	
#header_left{
	float:left;
	height:100%;
	width:10%;
	
	}	
	
#header_right{
	margin-top:0px;	
	float:right;
	height:100%;
	width:35%;
  
	}	

#header_right_nav li{
	margin-left:30px;
	display:inline;
	list-style-type:none;
	
	}	
#header_clock{
	float:right;
	
	}	
	
#pages{
	
	margin-top:5%;
	margin-left:13%;
	text-align:left;
	width:70%;
	height:auto;
	

	}
#footer{
    position:absolute;    /**IE6b不支持fixed**/
    bottom:0;           /**如何让fooert底部居中**/
	text-align:center;
	width:70%;
	height:20px;

	}	
#introduce a:hover{color:#CC9966;}	
#pages h1{color:rgba(0,0,0,0.3);}	
#pages p{padding:0.4em 0;}
#pages a{color:#666;text-decoration:none; font-size:1.2em;}	
#pages a:hover {color:#9c6;}
span.date{ color:rgba(0,0,0,0.3); display:block; }	
span.category-tag{color:rgba(0,0,0,0.3);}	